
.ifcz-image-field .zoom-wrapper {
  overflow: hidden;
  display: inline-block;
  cursor: crosshair;
}

.ifcz-image-field .zoom-wrapper img {
  margin: 0;
  display: block;
  max-width: 100%;
  height: auto;
}
